<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="./css/main.css">
    <!-- <link rel="stylesheet" href="./css/main2.css"> -->
    <link rel="stylesheet" href="./css/about.css">
    <title>About</title>
</head>
<body class="bg-gradient-to-b from-yellow-600 via-red-900 to-black min-h-screen w-full">
    <%-include('partials/header', {page: 'about'}) %>
    <div class="about-container">
        <h1><%= title %></h1>
        <img src="<%= image %>" alt="About Image" class="about-image justify-center">
        <p><%= message %></p>
    </div>
    <%-include('partials/footer') %>
</body>
</html>