<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/main2.css">
    <link rel="stylesheet" href="./css/profile.css">
    <title>Profile</title>
</head>
<body class="bg-gradient-to-b from-yellow-600 via-red-900 to-black min-h-screen w-full">
    <%-include('partials/header', {page: 'profile'}) %>
    <div class="profile-container">
        <h1><%= title %></h1>
        <div class="profile-details">
            <img src="<%= Image %>" alt="Profile Image" class="profile-image">
            <div class="profile-text">
                <h1><strong>Project Name:</strong> <%= project %></h1>
                <p><strong>Group:</strong> <%= group %></p>
                <p><strong>Course:</strong> <%= course %></p>
                <p><strong>Program:</strong> <%= program %></p>
                <p><strong>About Project:</strong> <%= about %></p>

            </div>
            <div class="guide-btn">
                <button class="btn btn-dark" onclick="window.location.href='/membersInfo'" >View Members Information</button>
                
            </div>
        </div>
    </div>
    <%-include('partials/footer') %>
</body>
</html>